
<h1>Mama Mia Pizzaria</h1>
<p>Only da besta pizza ina da worlda!</p>
<hr class="hr">
<!-- <div id="page-login" class="page">
    <h1>Log In</h1>
          <article>
              <form action="javascript://">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" placeholder="Username">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="text" class="form-control" id="password" placeholder="Password">
                </div>
                <button id="btn-login" type="submit" class="btn btn-default">Log In</button>
              </form>
          </article>
        </div>
<hr class="hr"> -->
<div id="page-signup" class="page">
    <h1>Sign Up</h1>
          <article>
              <form action="javascript://">
                <div class="form-group">
                  <label for="username">Create a Username</label>
                  <input type="text" class="form-control" id="username" placeholder="Enter a Username">
                </div>
                <div class="form-group">
                  <label for="email">Create an Email</label>
                  <input type="text" class="form-control" id="email" placeholder="Enter an Email">
                </div>
                <div class="form-group">
                  <label for="password">Create a Password</label>
                  <input type="text" class="form-control" id="password" placeholder="Enter a Password">
                </div>
                <button id="btn-signup" type="submit" class="btn btn-default">Sign Up</button>
              </form>
          </article>
        </div>
<hr class="hr">
      <div id="page-add-pizza" class="page">
          <header>
            <h1>Add a pizza to your cart!</h1>
            <p>Click on the pizzas below to add them to your cart.</p>
          </header>
          <article>
            <ul id="items">
            </ul>
          </article>
        </div>
<hr class="hr">
        <!-- <div id="page-cart" class="page">
          <header>
            <h1>Here Is Your Order So Far</h1>
            <p>Feel free to add more pizzas, or click "Done" to complete your order.</p>
          </header>
          <article>
            <div id="cart-display">
            </div>
            <form action="javascript://">
              <button id="btn-add-cart" type="submit" class="btn btn-default">Complete My Order</button>
            </form>
            <p>
              Or <a href="javascript://" id="add-more-pizzas">click here to add more pizzas!</a>
            </p>
          </article>
        </div>
<hr class="hr">
        <div id="page-receipt" class="page">
          <header>
            <h1>Thanks for Ordering from Pizza Unicorn!</h1>
            <p>Your Order Information is Below.</p>
          </header>
          <article>
            <p>PAGE 4!</p>
          </article>
        </div>

      </div>
    </div> -->
